.video{
    margin: 1%;
    height: 630px;
    width: 95.5%;
}
.left{
    height: 100%;
    width: 70%;
    display: block;
}

.right{
    margin-top: 1%;
    width: 25%;
    display: flex;
}
.max, .checo{
    width: 50%;

}

.driverinfo ul{
    list-style : none;
}

.drivertitle h1{
    color: red;
}

.drivertitle h2{
    color: grey;
}

.racingstats{
    margin-left: auto;
    margin-right: auto;
}

.text{
    text-align: center;

}

.max img, .checo img{
    width: 95%;
    opacity: 0.7;
    filter:grayscale(100%);


}
.driverlineup{
    margin:1%;
    align-items: baseline;
}

.imgcontainer{

    height: 30vh;
    width: 100%;
    overflow: hidden;
}

.imgcontainer :hover{
    transition-timing-function: ease;
    transition-delay: 100ms;
    opacity: 1;
    animation: filters 2s 1;
}


@keyframes filters{
    from{filter: grayscale(100%);}
    to {filter:grayscale(0%) }
    from{transform: rotateY(0deg);}
    to {transform: rotateY(180deg);}
    from{border: 1px solid;}
    to{border:1px solid;}
    from{border-color: red;}
    to{border-color: white;}

}


.vlagimg img{
    width: 50px;
    display: flex;
    margin-left: 1vw;
    margin-top: 0.5vh;
    opacity: 1;
    filter: grayscale(0%);
}

th{
    color: #fcd700;
    font-weight: bolder;
}

.rbpage{
    background-color:#00162b;
    color: white;
}

.redbull{
    text-align: center;
}

.motto{
   display: none;
    
}
.secondrb{
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.driverbiography{
    margin-top: 1vh;
    width: 90%;
    padding-right: 100px;
}


@media only screen and (max-width: 660px)
{
    .left{
        width: 100%;
        display: block;
    }
    .right{
        display: none;
    }
    .video{
        display: none;
    }
    .max, .checo{
        display: block;
        width: 100%;
    }
    .max img, .checo img{
        width: 100%;
    
    }
    .motto{
       margin: 10px;        
    }

}

@media only screen and (max-width: 1100px)
{
    .left{
        width: 100%;
    }
    .right{
        display: none;
    }
    .motto{
        font-size: larger;
        display: block;
        text-align : center;
    }
    
}
