/* css van pagina 3, 4, 5 */ 

.container row , #BookFace{
    display: flex;
}

article{
    width: 20%;
    justify-content: left;
    margin: 0px 5%;
}

#row1 {
    margin-top: 1%;
}

#row2 , #row3{
    margin-top: 3%;
}

#split {
    display: flex;
    justify-content: left;
}

.container #left{
    width:50%;
    background-color: black;
}

.container #right{
    width: 50%;
    background-color: white;
}

.container #inst{
    width: 10%;
    justify-content: left;
    border: 3px solid grey;

}

.container #content{
    width:80%;
    display: flex;
    justify-content: left;
    border: 3px solid grey;
}

.container #friends{
    width: 10%;
    display: flex;
    justify-content: left;
    border: 3px solid grey;
}

img{
    width:100%;
}

/* vraag voor assessment dit wil niet mee werken*/ 
@media screen and (max-width: 600px) {
    article{
        width: 100%;
    }
    .container row{
        display: block;
        margin-right: 10%;
    }
  }