.container row{
    display: flex;

}

article{
    width: 20%;
    justify-content: left;
    margin: 0px 5%;
}

#row1 {
    margin-top: 1%;
}

#row2 , #row3{
    margin-top: 3%;
}

#split {
    display: flex;
    justify-content: left;
}

.container #left{
    width:50%;
    background-color: black;
}

.container #right{
    width: 50%;
    background-color: white;
}

img{
    width:100%;

}