*
{
    font-family: 'Roboto', 'Arial';
}

h1
{
    font-size: 2em;
}

h2
{
    font-size: 1.5em;
}

h1, h2
{
    font-weight: bold;
}

.container
{
    display: flex;
    flex-wrap: wrap;
}

.btn
{
    color: white;
    background-color: #E10600;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
}

.btn:hover
{
    animation: buttonEffect 1s infinite;
}

.headerSection
{
    height: 93vh;
    background-image: url("afbeeldingen/redBullMercedes.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: grid;
    align-items: center;
    align-content: center;
}

.headerSection section
{
    position: inherit;
}

.headerSection::before
{
    content: '';
    background-color: #38383FB5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}

.headerSection h1
{
    color: white;
    margin-bottom: 20px;
}

.headerSection > section
{
    margin-left: 10%;
    margin-right: 10%;
}

.headerSection .btn, .prPractice .number, .prRace .number
{
    margin-left: auto;
    margin-right: auto;
}

.headerSection .btn:last-child, .firstname, #constructors, 
.newsItem:nth-child(3), .newsItem:nth-child(4), .prAustin, 
.raceNr, .car, .laps, .prPoints
{
    display: none;
}

.arrow
{
    position: absolute;
    bottom: 10px;
    left: calc(50% - 25px);
}

.arrow > img
{
    width: 50px;
}

.arrow:hover
{
    animation: upDown 1s infinite;
}

#sec2, .prTimes, .tblResult > tbody tr:nth-child(odd)
{
    background-color: #F3F3F3;
}

#sec2 > section
{
    width: 100%;
    margin: 100px 20px;
}

.standing, .prTimes > .container .container
{
    background-color: white;
    border-radius: 10px;
    justify-content: space-between;
    margin-bottom: 2px;
}

.standing
{
    padding: 10px 20px;
    transition: 0.5s ease;
}

.prTimes > .container .container
{
    align-items: center;
    padding: 15px 20px;
    margin-bottom: 2px;
}

.standing:hover
{
    background-color: #38383F;
    color: white;
}

.standing, .standing > section, .statItem > .container
{
    align-items: center;
}

.number
{
    color: #E10600;
    font-weight: bold;
    font-size: 1.1em;
    margin-right: 20px;
}

.lastname, .consturctor
{
    font-weight: bold;
    margin-left: 5px;
    margin-right: 20px;
}

.team, .drivers
{
    font-size: .8em;
    display: none;
}

.points
{
    background-color: #F5F5F5;
    color: black;
    border-radius: 5px;
    padding: 5px 10px;
}

#sec2 h2, .prCircuit > h1, .prAustin h1, .prUitslag h1, .news h1
{
    text-align: center;
    margin-bottom: 50px;
}

.calendar
{
    background-color: #38383F;
}

.calendarItem
{
    width: 16%;
    display: none;
}

.nextRace
{
    width: 100%;
    margin-left: 20px;
}

.calendarItem, .nextRace
{
    border: 1px solid #707070;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 20px;
}

.calendarItem:first-child
{
    margin-left: 20px;
}

.calendar img
{
    width: 60px;
    margin-left: calc(50% - 30px);
}

.calendar .btn
{
    margin-left: calc(50% - 57px);
    margin-top: 50px;
    display: inline-block;
}

.calendar h1, .calendar h2, .calendar p
{
    color: white;
    text-align: center;
}

.calendar h1
{
    padding-top: 50px;
    padding-bottom: 50px;
}

.calendar > .container
{
    justify-content: center;
    flex-wrap: nowrap;
    padding-bottom: 50px;
}

.nextRace > .container
{
    margin: 0px 20px 0px 20px;
}

.nextRace .activity, .nextRace .day, .nextRace .practice
{
    margin-right: 20px;
}

.nextRace .practice, .nextRace .race, .prPractice, .prRace, 
.prCircuit img, .nMore > img, form select, form .container section
{
    width: 100%;
}

.nextRace .race .container:last-child .activity
{
    margin-right: 68px;
}

.nextRace .times
{
    background-color: #818181C4;
    border-radius: 5px;
    padding: 2px 6px;
}

.nextRace > .container .container, .prDesc p, .statItem > p, 
.prAustin h2
{
    margin-bottom: 20px;
}

.calendar h2
{
    margin-top: 20px;
    margin-bottom: 50px;
}

.newsItem
{
    width: 100%;
    border-radius: 50px;
    border: 1px solid #707070;
    margin-bottom: 20px;
}

.newsItem,  .newsItem > section
{
    overflow: hidden;
}

.newsItem h2, .newsItem p
{
    margin: 25px;
}

.news
{
    margin: 50px;
}

.news > .container
{
    justify-content: space-between;
}

.newsItem img, .nArticles section > img
{
    width: 100%;
    transition: 0.5s ease;
    display: block;
}

.newsItem img:hover
{
    transform: scale(1.3) rotate(5deg);
    filter: brightness(80%);
}

.prTimes
{
    text-align: center;
    padding: 50px;
}

.prTimes img
{
    width: 60px;
    margin-bottom: 20px;
}

.prTimes > h1, .prUitslag, .nArticles, .nMore
{
    margin-bottom: 50px;
}

.prPractice .number, .prRace .number
{
    margin-bottom: 2px;
}

.prDate p:last-child
{
    padding: 8px 3px;
    background-color: #F5F5F5;
    border-radius: 5px;
}

.prDesc
{
    width: 40%;
    text-align: left;
    display: none;
}

.prCircuit, .prUitslag
{
    padding: 50px 30px 0px 30px;
}

.prCircuit > .container
{
    justify-content: space-between;
    align-items: center;
}

.prStats
{
    width: 30%;
    display: none;
}

.prStats > .statItem
{
    width: calc(100% - 35px);
}

.statItem
{
    width: calc(50% - 35px);
    margin: 0px 10px 10px 10px;
    box-shadow: 0px 0px 6px #00000047;
    padding: 25px 0px 25px 15px;
}

.statItem h2
{
    margin-right: 10px;
}

.prAustin .container section
{
    width: calc(50% - 45px);
}

.prAustin .container section:first-child
{
    margin-right: 90px;
}

.prAustin p
{
    margin-bottom: 30px;
}

.tblResult
{
    width: 100%;
    border-collapse: collapse;
}

.tblResult td
{
    padding: 15px 0px;
}

.tblResult th
{
    text-align: left;
    font-weight: bold;
    padding-bottom: 20px;
}

.pos, .raceNr, .laps, .prPoints, .time
{
    width: 10%;
}

.driver, .car
{
    width: 25%;
}

.nArticles
{
    width: 100%;
    padding: 0px 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
}

.nArticles section
{
    overflow: hidden;
    width: 100%;
    margin-bottom: 15px;
}

.nMore
{
    width: calc(20% - 42px);
    padding: 0px 20px;
    border-left: 2px solid #38383F;
    display: none;
}

.nArticles p
{
    margin: 10px 20px 20px 20px;
}

.nArticles .btn
{
    display: inline-block;
    margin-left: calc(50% - 57px);
    margin-bottom: 20px;
}

.nArticles h2, .nMore > h2
{
    text-align: center;
}

.nArticles article
{
    border-radius: 0px 0px 20px 20px;
    transition: 0.5s ease;
}

.nArticles article:hover
{
    background-color: #15151E;
    color: white;
    box-shadow: 0px 0px 10px #00000060;
}

.nArticles article:hover img
{
    transform: scale(1.3) rotate(5deg);
}

.newsHeader
{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.nMore hr
{
    height: 2px;
    width: 100%;
    background-color: #38383F;
    margin: 20px 0px;
}

.readMore
{
    color: #E10600;
    text-decoration: none;
}

.nMore .container img
{
    width: 30%;
    margin-right: 20px;
}

.nMore .container h2
{
    margin-bottom: 10px;
}

.nMore .container
{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #c5c5c5;
}

form input[type = text], 
form input[type = email], 
form input[type = tel], 
form select, 
form textarea
{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
}

form textarea
{
    height: 291px;
    resize: none;
}

form input[type = text], 
form input[type = email], 
form input[type = tel], 
textarea
{
    width: calc(100% - 22px);
}

form
{
    width: 90%;
    margin: 0px auto 50px auto;
}

form .btn
{
    margin-left: calc(50% - 57px);
    margin-top: 10px;
    cursor: pointer;
}

/* Video embed bovenkant pagina */
.video{
    margin: 1%;
    height: 630px;
    width: 95.5%;
}
/* container links van de teams pagina */
.left{
    height: 100%;
    width: 70%;
    text-align: center;
}

/* container rechts van de teams pagina */
.right{
    margin-top: 1%;
    width: 25%;
    text-align: center;
}
/* containers van beide bestuurders */ 
.max, .checo{
    width: 50%;
}

/* dit stukje is van de naam en nummer van bestuurders met vlag */ 
.driverTitle{
    padding-left: 3%;
    width: 97%;
}
.driverTitle h1{
    color: red;
}

.driverTitle h2{
    color: grey;
}

/* dit stukje gaat over het deel van de statistieken */
.racingStats{
    margin-left: auto;
    margin-right: auto;
}

/* dit zijn de fotos van max en checo */ 

.max img, .checo img{
    width: 95%;
    opacity: 0.7;
    filter:grayscale(100%);
}

/* dit gaat over de containers waar max en checo in staan */
.driverLineup{
    margin:1%;
}

/* dit schaalt de image zodat je niet de volledige image ziet*/ 
.imgContainer{

    height: 30vh;
    width: 100%;
    overflow: hidden;
}

.vlagImg img{
    width: 50px;
    margin-left: 1vw;
    margin-top: 0.5vh;
    opacity: 1;
    filter: grayscale(0%);
}

/* coureur statistieken tabel */
.rbPage th{
    color: #fcd700;
    font-weight: bolder;
}

/* dit is de css voor de volledige pagina, hiermee is de achtergrond donkerblauw en de text wit */
.rbPage{
    background-color:#00162b;
    color: white;
    width: 100%;
}

/* dit zorgt er voor dat de motto niet zichtbaar is op PC */
.motto{
   display: none;
}

/* dit is voor de rechter kant waar er info is over redbull */
.secondRb{
    margin-top: 1vh;
    margin-bottom: 1vh;
}

/* stuk tekst over de coureurs */
.driverBiography{
    margin-top: 1vh;
    width: 90%;
}

/* rechter kant padding toegevoegd waar info staat over redbull */
.redbull{
    padding-left: 10%;
}

/* animaties met hover */
.imgContainer :hover{
    transition-timing-function: ease;
    transition-delay: 100ms;
    opacity: 1;
    animation: filters 2s 1;
}

/* animaties */
@keyframes upDown
{
    0% {
        transform: translateY(0px);
      }
      
      50% {
        transform: translateY(-20px);
      }
    
      100% {
        transform: translateY(0px);
      }
}

@keyframes buttonEffect
{
    0% {
        transform: translateY(0px);
      }
      
      50% {
        transform: translateY(5px);
      }
    
      100% {
        transform: translateY(0px);
      }
}

@keyframes filters{
    from{filter: grayscale(100%);}
    to {filter:grayscale(0%) }
    from{transform: rotateY(0deg);}
    to {transform: rotateY(180deg);}
    from{border: 1px solid;}
    to{border:1px solid;}
    from{border-color: red;}
    to{border-color: white;}
}
