@media only screen and (min-width: 500px)
{
    #mobileNav
    {
        display: none;
    }

    #pcNav
    {
        display: block;
    }

    header > a 
    {
        width: 10%;
    }

    .headerSection > section
    {
        width: 40%;
    }

    .headerSection h1
    {
        font-size: 3em;
    }

    .headerSection .btn:last-child
    {
        display: block;
    }

    .headerSection .btn
    {
        margin-right: 10px;
        margin-left: 0px;
    }

    .team, .drivers
    {
        display: block;
    }

    .firstname
    {
        display: block;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1800px)
{
    .calendarItem
    {
        display: block;
    }

    .nextRace
    {
        width: 32%;
        margin-left: 0px;
    }

    .nextRace .practice, .nextRace .race
    {
        width: 100%;
    }
}

@media only screen and (min-width: 660px) and (max-width: 1100px)
{
    .nextRace .practice, .nextRace .race
    {
        width: calc(50% - 10px);
    }

    .newsItem
    {
        width: 45%;
    }
}

@media only screen and (min-width: 870px)
{
    .prPractice, .prRace
    {
        width: calc(50% - 40px);
        margin-right: 40px;
    }

    .prTimes > .container .container
    {
        padding: 15px 40px;
    }

    .prAustin
    {
        display: block;
    }

    .raceNr, .car, .laps, .prPoints
    {
        display: revert;
    }

    .prCircuit, .prAustin, .prUitslag
    {
        padding: 50px 100px 0px 100px;
    }

    .nArticles
    {
        grid-template-columns: auto auto auto auto;
        padding: 0px 50px;
    }

    form .container section
    {
        width: calc(50% - 20px);
        padding: 0px 10px 0px 10px;
    }

    form
    {
        height: 70vh;
    }

    #constructors
    {
        display: block;
    }

    #sec2 > section
    {
        width: calc(50% - 40px);
        margin: 100px 20px;
    }
}

@media only screen and (min-width: 1800px)
{
    .calendarItem, .nMore, .prDesc
    {
        display: block;
    }

    .nextRace
    {
        width: 32%;
        margin-left: 0px;
    }

    .nextRace .practice, .nextRace .race
    {
        width: calc(50% - 10px);
    }

    .prPractice, .prRace
    {
        width: calc(30% - 40px);
        margin-right: 40px;
    }

    .nArticles
    {
        width: calc(80% - 100px);
    }
}

@media only screen and (min-width: 660px)
{
    .newsItem:nth-child(3), .newsItem:nth-child(4)
    {
        display: block;
    }

    .newsItem
    {
        margin-bottom: 0px;
    }

    form
    {
        width: 50%;
    }
}

@media only screen and (min-width: 1100px)
{
    .newsItem
    {
        width: 20%;
    }
}

@media only screen and (min-width: 1300px)
{
    .prStats
    {
        display: block;
        
    }

    .prCircuit img
    {
        width: 50%;
    }
}

@media only screen and (max-width: 660px)
{
    .left{
        width: 100%;
        display: block;
    }
    .right{
        display: none;
    }
    .video{
        display: none;
    }
    .max, .checo{
        display: block;
        width: 100%;
    }
    .max img, .checo img{
        width: 100%;
    
    }
    .motto{
       margin: 10px;        
    }
    .driverBiography{
        width: 80%;
        padding: 10%;
        text-align: center;
    }

}

/* media queries voor team pagina tablet */
@media only screen and (max-width: 1100px)
{
    .left{
        width: 100%;
    }
    .right{
        display: none;
    }
    .motto{
        font-size: larger;
        display: block;
        text-align : center;
    }
    
    .vlagImg img{
        width: 50px;
        margin-left: 1vw;
        margin-top: 0.5vh;
        opacity: 1;
        filter: grayscale(0%);
    }
}